<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">Drop us a line below</h4>

  <form name="lead" method="POST" data-netlify="true">
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" value="Lake Jevin" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" value="me@lakecantlift.com" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Loan Type -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <input type="text" id="loantype" name="loantype" placeholder="What type of loan ya want?" value="purch" class="w-100 mb2">
        <label for="loantype">Loan Type</label>
      </fieldset>
    </div>

    <!-- Downpayment -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <input type="number" id="downpayment" name="downpayment" placeholder="Down Payment" value="10000" class="w-100 mb2">
        <label for="downpayment">Down Payment</label>
      </fieldset>
    </div>

    <!-- Loan Amoumt -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <input type="number" id="loanamount" name="loanamount" placeholder="Loan Amount" value="300000" class="w-100 mb2">
        <label for="loanamount">Loan Amount</label>
      </fieldset>
    </div>

    <!-- Zip Code -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <input type="text" id="zip" name="zip" placeholder="Zipcode" value="90210" class="w-100 mb2">
        <label for="zip">Zipcode</label>
      </fieldset>
    </div>

    <!-- Phone Number -->
    <div class="ph1-l w-50-l">
      <fieldset>
        <input type="tel" id="homephone" name="homephone" placeholder="555-555-5555" value="3133733000" class="w-100 mb2">
        <label for="homephone">Home Phone</label>
      </fieldset>
    </div>


    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
